WebCollector-Nutch/conf/parse-plugins.dtd

<!ELEMENT parse-plugins  (mimeType+,aliases)>
<!ELEMENT mimeType (plugin+)>
<!ATTLIST mimeType name CDATA #REQUIRED>

<!ELEMENT plugin EMPTY>
<!ATTLIST plugin id CDATA #REQUIRED>
<!ATTLIST plugin order CDATA ''>

<!ELEMENT aliases (alias+)>
<!ELEMENT alias EMPTY>
<!ATTLIST alias name CDATA #REQUIRED>
<!ATTLIST alias extension-id CDATA #REQUIRED>